@charset "UTF-8";
* {
  margin: 0px 0px;
  padding: 0px 0px;
  box-sizing: border-box;
  font-size: 10px;
  @import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
}

/* KEYFRAMES */
@keyframes bg-servicios {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* IMPORT */
/* INICIO */
header.color-header {
  background-image: linear-gradient(135deg, #ffdf4f, #ffdd60, #d3f7b3, #f5ffb7, #fdff9f, #ffdd60, #ffdf4f);
  background-size: 500%;
  width: 100%;
  height: auto;
  padding: 0rem 0rem 30rem 0rem;
  animation: bg-servicios 20s infinite;
}
header.color-header nav.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header.color-header nav.nav img.logo {
  width: 15rem;
  height: auto;
}
header.color-header nav.nav ul.menu {
  align-items: center;
  display: flex;
  list-style: none;
}
header.color-header nav.nav ul.menu a {
  text-decoration: none;
}
header.color-header nav.nav ul.menu li.inicio {
  font-family: "Raleway", sans-serif;
  list-style: none;
  color: rgba(0, 0, 0, 0.615);
  font-size: x-large;
  padding: 0rem 5rem;
}
header.color-header nav.nav ul.menu li.inicio:hover {
  color: black;
}
header.color-header nav.nav ul.menu li.paginas {
  font-family: "Raleway", sans-serif;
  list-style: none;
  color: rgba(0, 0, 0, 0.615);
  font-size: x-large;
  padding: 0rem 5rem;
  border-left: solid rgb(255, 255, 255);
}
header.color-header nav.nav ul.menu li.paginas:hover {
  color: black;
}
header.color-header div.h-uno {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 10rem 0rem 0rem 0rem;
  padding: 0rem;
  border-radius: 2rem;
  align-items: center;
}
header.color-header div.h-uno h1.h-uno {
  color: #4b4b4b;
  padding-bottom: 2rem;
  font-size: 10rem;
  display: flex;
  text-align: center;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}
header.color-header div.h-uno h2.encontramos-talento {
  color: #4b4b4b;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: flex;
  letter-spacing: 0.2rem;
}

section.index-texto {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}
section.index-texto div.div-motiva {
  width: 100%;
  height: 50rem;
  padding: 0rem 2rem;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.index-texto div.div-motiva p.p-motiva {
  color: white;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
  padding: 5rem;
}
section.index-texto div.div-prueba {
  background-color: #ebf7b3;
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0rem 2rem;
  letter-spacing: 0.5rem;
}
section.index-texto div.div-prueba p.p-prueba {
  color: #4b4b4b;
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
}
section.index-texto div.div-prueba a {
  text-decoration: none;
}
section.index-texto div.div-prueba input.servicios {
  background-color: rgba(0, 0, 0, 0.442);
  color: white;
  margin-top: 8rem;
  padding: 1rem;
  display: flex;
  font-size: 3rem;
  border: solid white;
  border-radius: 1rem;
}
section.index-texto div.div-prueba input.servicios:hover {
  transform: scale(1.02);
  transition: 1s;
  background-color: rgba(255, 255, 255, 0.668);
  color: black;
  cursor: pointer;
}
section.index-texto div.reclutamiento-seleccion {
  background-color: #d3f7b3;
  display: flex;
  flex-direction: column;
  padding-bottom: 20rem;
}
section.index-texto div.reclutamiento-seleccion h2.reclutamiento-seleccion {
  color: #4b4b4b;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  margin: 20rem 0rem 10rem 0rem;
}
section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 {
  display: flex;
  align-items: center;
  padding: 0rem 10rem 0rem 10rem;
}
section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 img.reclutamiento-seleccion {
  display: flex;
  width: 10rem;
  height: auto;
  margin: 0rem 6rem 0rem 0rem;
}
section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 h3.reclutamiento-seleccion {
  width: 100%;
  height: auto;
  color: #4b4b4b;
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  line-height: 200%;
  margin: 0rem 0rem;
}
section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 img.reclutamiento-seleccion-2 {
  display: flex;
  width: 10rem;
  height: auto;
  margin: 0rem 0rem 0rem 6rem;
}
section.index-texto div.reclutamiento-seleccion h3.reclutamiento-seleccion {
  color: #4b4b4b;
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  margin-left: 8rem;
  margin-right: 8rem;
  line-height: 200%;
}
section.index-texto div.reclutamiento-seleccion img.logo-2 {
  display: block;
  width: 15rem;
  height: auto;
  margin: auto;
  padding-top: 10rem;
  opacity: 0.9;
}

div.foot {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 2rem 0rem 2rem 0rem;
  border-top: solid white;
}
div.foot-tamaño {
  text-align: center;
  width: 20rem;
  height: auto;
}
div.foot-tamaño p.tdcolor {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  justify-content: center;
  cursor: pointer;
}
div.foot-tamaño p.tdcolor:hover {
  color: white;
  text-decoration: underline;
}
div.foot-tamaño p.tdcolor img.redes {
  width: 1.5rem;
  height: 1.5rem;
}

/* SERVICIOS */
header.header-2 {
  background-image: linear-gradient(135deg, rgb(73, 73, 0), rgb(111, 111, 0), rgb(213, 213, 0), #ddff00, rgb(213, 213, 0), rgb(111, 111, 0), rgb(73, 73, 0));
  background-size: 500%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  animation: bg-servicios 20s infinite;
}
header.header-2 nav.nav-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
}
header.header-2 nav.nav-2 div.div-nav-2 {
  display: flex;
}
header.header-2 nav.nav-2 div.div-nav-2 img.logo-2 {
  width: 15rem;
  height: auto;
}
header.header-2 nav.nav-2 ul.menu-2 {
  display: flex;
  flex-direction: row;
  list-style: none;
}
header.header-2 nav.nav-2 ul.menu-2 a {
  text-decoration: none;
}
header.header-2 nav.nav-2 ul.menu-2 a li.inicio-2 {
  font-family: "Raleway", sans-serif;
  list-style: none;
  color: rgba(0, 0, 0, 0.615);
  font-size: x-large;
  padding: 0px 5rem;
}
header.header-2 nav.nav-2 ul.menu-2 a li.inicio-2:hover {
  color: black;
}
header.header-2 nav.nav-2 ul.menu-2 li.paginas-2 {
  font-family: "Raleway", sans-serif;
  list-style: none;
  color: rgba(0, 0, 0, 0.615);
  font-size: x-large;
  padding: 0px 5rem;
  border-left: solid rgb(255, 255, 255);
}
header.header-2 nav.nav-2 ul.menu-2 li.paginas-2:hover {
  color: black;
}
header.header-2 div.servicios-busqueda {
  display: flex;
  flex-direction: column;
}
header.header-2 div.servicios-busqueda h1.servicios-busqueda {
  color: rgba(255, 255, 255, 0.929);
  font-family: "Times New Roman", Times, serif;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  text-align: center;
  padding: 5rem 40rem 6rem 40rem;
}
header.header-2 div.servicios-busqueda h4.servicios-busqueda {
  color: rgba(255, 255, 255, 0.929);
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  letter-spacing: 0.3rem;
  text-align: center;
  padding: 0rem 6rem 10rem 6rem;
}

div.dirigimos {
  padding: 80px 0px 80px 0px;
}
div.dirigimos h3.dirigimos {
  width: 100%;
  height: auto;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 5rem;
}

div.grid-servicios {
  background-color: #fdff9f;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  justify-content: center;
  padding: 10rem 0rem 10rem 0rem;
}
div.grid-servicios div.orientamos {
  display: flex;
  width: 100%;
  height: 100%;
}
div.grid-servicios div.orientamos h3.orientamos {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  line-height: 200%;
}
div.grid-servicios div.img-servicios {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "1 2 3" "4 5 6";
}
div.grid-servicios div.img-servicios img.banco {
  width: 6rem;
  height: auto;
  grid-area: 1;
  margin: 3rem;
}
div.grid-servicios div.img-servicios img.ong {
  width: 6rem;
  height: auto;
  grid-area: 2;
  margin: 3rem;
}
div.grid-servicios div.img-servicios img.fabrica {
  width: 6rem;
  height: auto;
  grid-area: 3;
  margin: 3rem;
}
div.grid-servicios div.img-servicios img.tienda {
  width: 6rem;
  height: auto;
  grid-area: 4;
  margin: 3rem;
}
div.grid-servicios div.img-servicios img.reclut {
  width: 6rem;
  height: auto;
  grid-area: 5;
  margin: 3rem;
}
div.grid-servicios div.img-servicios img.apoyo {
  width: 6rem;
  height: auto;
  grid-area: 6;
  margin: 3rem;
}

div.foot {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 20px 0px 20px 0px;
  border-top: solid white;
}
div.foot-tamaño {
  text-align: center;
  width: 200px;
  height: auto;
}
div.foot-tamaño p.tdcolor {
  display: flex;
  font-size: 1.5rem;
  padding: 10px 0px;
  justify-content: center;
  cursor: pointer;
}
div.foot-tamaño p.tdcolor:hover {
  color: white;
  text-decoration: underline;
}
div.foot-tamaño p.tdcolor img.redes {
  width: 15px;
  height: 15px;
}

/* NOSOTROS */
header.header-3 {
  background-image: linear-gradient(135deg, #ffdf4f, #ffdd60, #d3f7b3, #f5ffb7, #fdff9f, #ffdd60, #ffdf4f);
  background-size: 500%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-bottom: white solid;
  animation: bg-servicios 20s infinite;
}
header.header-3 nav.nav-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header.header-3 nav.nav-3 div.div-nav-3 {
  display: flex;
}
header.header-3 nav.nav-3 div.div-nav-3 img.logo-3 {
  width: 15rem;
  height: auto;
}
header.header-3 nav.nav-3 ul.menu-3 {
  display: flex;
  flex-direction: row;
  list-style: none;
}
header.header-3 nav.nav-3 ul.menu-3 a {
  text-decoration: none;
}
header.header-3 nav.nav-3 ul.menu-3 a li.inicio-3 {
  font-family: "Raleway", sans-serif;
  list-style: none;
  color: rgba(0, 0, 0, 0.615);
  font-size: x-large;
  padding: 0rem 5rem;
}
header.header-3 nav.nav-3 ul.menu-3 a li.inicio-3:hover {
  color: black;
}
header.header-3 nav.nav-3 ul.menu-3 li.paginas-3 {
  font-family: "Raleway", sans-serif;
  list-style: none;
  color: rgba(0, 0, 0, 0.615);
  font-size: x-large;
  padding: 0rem 5rem;
  border-left: solid rgb(255, 255, 255);
}
header.header-3 nav.nav-3 ul.menu-3 li.paginas-3:hover {
  color: black;
}

div.quienes-somos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: #f2e997;
}
div.quienes-somos h1.quienes-somos {
  color: #4b4b4b;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  padding: 10rem 0rem 10rem 0rem;
}
div.quienes-somos h2.quienes-somos {
  color: #4b4b4b;
  display: flex;
  background-color: white;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  padding: 10rem 4rem 6rem 10rem;
}

div.valores {
  background-color: #f2e997;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 15rem 0rem 15rem 0rem;
}
div.valores div.valores-2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
div.valores div.valores-2 h3.valores {
  color: #4b4b4b;
  width: 100%;
  height: auto;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 3rem;
  padding: 0rem 2rem 0rem 2rem;
  letter-spacing: 0.3rem;
}
div.valores div.valores-2 img.flecha {
  width: 80px;
  height: auto;
  opacity: 0.7;
}
div.valores div.valores-3 {
  width: 100%;
  height: auto;
}
div.valores div.valores-3 h4.valores {
  color: #4b4b4b;
  width: 100%;
  height: auto;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  padding: 0rem 4rem 0rem 4rem;
}

div.foot {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 2rem 0rem 2rem 0rem;
  border-top: solid white;
}
div.foot-tamaño {
  text-align: center;
  width: 20rem;
  height: auto;
}
div.foot-tamaño p.tdcolor {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  justify-content: center;
  cursor: pointer;
}
div.foot-tamaño p.tdcolor:hover {
  color: white;
  text-decoration: underline;
}
div.foot-tamaño p.tdcolor img.redes {
  width: 1.5rem;
  height: 1.5rem;
}

/* CONTACTO */
header.header-4 {
  background-image: linear-gradient(135deg, #ffdf4f, #ffdd60, #d3f7b3, #f5ffb7, #fdff9f, #ffdd60, #ffdf4f);
  background-size: 500%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-bottom: white solid;
  animation: bg-servicios 20s infinite;
}
header.header-4 nav.nav-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header.header-4 nav.nav-4 img.logo-4 {
  width: 15rem;
  height: auto;
}
header.header-4 ul.menu-4 {
  display: flex;
  list-style: none;
}
header.header-4 ul.menu-4 a {
  text-decoration: none;
}
header.header-4 ul.menu-4 a li.inicio-4 {
  font-family: "Raleway", sans-serif;
  list-style: none;
  color: rgba(0, 0, 0, 0.615);
  font-size: x-large;
  padding: 0rem 5rem;
}
header.header-4 ul.menu-4 a li.inicio-4:hover {
  color: black;
}
header.header-4 ul.menu-4 li.paginas-4 {
  font-family: "Raleway", sans-serif;
  list-style: none;
  color: rgba(0, 0, 0, 0.615);
  font-size: x-large;
  padding: 0rem 5rem;
  border-left: solid rgb(255, 255, 255);
}
header.header-4 ul.menu-4 li.paginas-4:hover {
  color: black;
}

div.encontrar {
  display: flex;
  width: 100%;
  height: auto;
}
div.encontrar h1.encontrar {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  background-color: #d3f7b3;
  color: #4b4b4b;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  padding: 10rem 0rem 10rem 0rem;
}

div.mensaje {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 0rem 3rem 0rem;
}
div.mensaje h2.mensaje {
  width: 100%;
  height: auto;
  color: #4b4b4b;
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  padding-bottom: 2rem;
}
div.mensaje img.mensaje {
  width: 5rem;
  height: auto;
}

div.social {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  padding: 0rem 0rem 10rem 0rem;
}
div.social div.gmail {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.social div.gmail img.gmail {
  display: flex;
  width: 6rem;
  height: auto;
  padding-bottom: 4rem;
}
div.social div.gmail h4.gmail {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
div.social div.wpp {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.social div.wpp img.wpp {
  display: flex;
  width: 6rem;
  height: auto;
  padding-bottom: 4rem;
}
div.social div.wpp h4.wpp-1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
  color: rgba(0, 0, 255, 0.674);
  -webkit-text-decoration: underline rgba(0, 0, 255, 0.674);
          text-decoration: underline rgba(0, 0, 255, 0.674);
}
div.social div.wpp h4.wpp-2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: rgba(0, 0, 255, 0.674);
  -webkit-text-decoration: underline rgba(0, 0, 255, 0.674);
          text-decoration: underline rgba(0, 0, 255, 0.674);
}

div.foot {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 2rem 0rem 2rem 0rem;
  border-top: solid white;
}
div.foot-tamaño {
  text-align: center;
  width: 20rem;
  height: auto;
}
div.foot-tamaño p.tdcolor {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  justify-content: center;
  cursor: pointer;
}
div.foot-tamaño p.tdcolor:hover {
  color: white;
  text-decoration: underline;
}
div.foot-tamaño p.tdcolor img.redes {
  width: 1.5rem;
  height: 1.5rem;
}

/* MOBILE */
/* INICIO */
@media (max-width: 576px) {
  header.color-header {
    width: 100%;
    height: auto;
    padding: 0rem 0rem 15rem 0rem;
  }
  header.color-header nav.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  header.color-header nav.nav img.logo {
    width: 20rem;
    height: auto;
  }
  header.color-header nav.nav ul.menu {
    padding-top: 2.5rem;
    align-items: center;
    display: flex;
    list-style: none;
  }
  header.color-header nav.nav ul.menu li.inicio {
    font-size: 1.5rem;
    padding: 0rem 1rem;
  }
  header.color-header nav.nav ul.menu li.paginas {
    font-size: 1.5rem;
    padding: 0rem 1rem;
  }
  header.color-header div.h-uno {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 15rem 0rem 0rem 0rem;
    padding: 0rem;
    border-radius: 0rem;
    align-items: center;
  }
  header.color-header div.h-uno h1.h-uno {
    color: #4b4b4b;
    padding-bottom: 2rem;
    font-size: 6rem;
    display: flex;
    text-align: center;
    font-weight: normal;
  }
  header.color-header div.h-uno h2.encontramos-talento {
    font-size: 4rem;
    text-align: center;
    display: flex;
    letter-spacing: 0.2rem;
  }
  section.index-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  section.index-texto div.div-motiva {
    width: 100%;
    height: 30rem;
    padding: 0rem 1rem;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  section.index-texto div.div-motiva p.p-motiva {
    color: white;
    font-size: 2.5rem;
    font-family: "Raleway", sans-serif;
    padding: 0rem;
  }
  section.index-texto div.div-prueba {
    background-color: #ebf7b3;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15rem 0rem;
    letter-spacing: 0.5rem;
  }
  section.index-texto div.div-prueba p.p-prueba {
    color: #4b4b4b;
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
  }
  section.index-texto div.div-prueba a {
    text-decoration: none;
  }
  section.index-texto div.div-prueba input.servicios {
    margin-top: 8rem;
    padding: 1rem;
    display: flex;
    font-size: 2rem;
    border: solid white;
    border-radius: 0.5rem;
  }
  section.index-texto div.div-prueba input.servicios:hover {
    transform: scale(1.02);
    transition: 1s;
    color: black;
    cursor: pointer;
  }
  section.index-texto div.reclutamiento-seleccion {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20rem;
  }
  section.index-texto div.reclutamiento-seleccion h2.reclutamiento-seleccion {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin: 10rem 0rem 10rem 0rem;
  }
  section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
  }
  section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 img.reclutamiento-seleccion {
    display: flex;
    width: 7rem;
    height: auto;
    margin: 0rem 0rem 5rem 0rem;
  }
  section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 h3.reclutamiento-seleccion {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    line-height: 200%;
    margin: 0rem 0rem;
  }
  section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 img.reclutamiento-seleccion-2 {
    display: flex;
    width: 7rem;
    height: auto;
    margin: 5rem 0rem 0rem 0rem;
  }
  section.index-texto div.reclutamiento-seleccion h3.reclutamiento-seleccion {
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    margin-left: 8rem;
    margin-right: 8rem;
    line-height: 200%;
  }
  section.index-texto div.reclutamiento-seleccion img.logo-2 {
    display: block;
    width: 10rem;
    height: auto;
    margin: auto;
    padding-top: 10rem;
    opacity: 0.9;
  }
  div.foot {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 1rem 0rem 1rem 0rem;
  }
  div.foot-tamaño {
    text-align: center;
    width: 20rem;
    height: auto;
  }
  div.foot-tamaño p.tdcolor {
    display: flex;
    font-size: 1.25rem;
    padding: 1rem 0rem;
    justify-content: center;
  }
  div.foot-tamaño p.tdcolor img.redes {
    width: 1.5rem;
    height: 1.5rem;
  }
  div.foot div.none {
    display: none;
  }
}
/*SERVICIOS */
@media (max-width: 576px) {
  header.header-2 {
    background-image: linear-gradient(135deg, rgb(255, 171, 36), rgb(255, 153, 75), rgb(255, 195, 134), rgb(255, 214, 191), rgb(239, 255, 121), rgb(255, 255, 49), rgb(255, 255, 0));
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 8rem;
  }
  header.header-2 nav.nav-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
  }
  header.header-2 nav.nav-2 div.div-nav-2 {
    display: flex;
  }
  header.header-2 nav.nav-2 div.div-nav-2 img.logo-2 {
    width: 20rem;
    height: auto;
  }
  header.header-2 nav.nav-2 ul.menu-2 {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  header.header-2 nav.nav-2 ul.menu-2 a {
    text-decoration: none;
  }
  header.header-2 nav.nav-2 ul.menu-2 a li.inicio-2 {
    font-size: 1.5rem;
    padding: 0px 1rem;
  }
  header.header-2 nav.nav-2 ul.menu-2 li.paginas-2 {
    font-size: 1.5rem;
    padding: 0px 1rem;
  }
  header.header-2 div.servicios-busqueda {
    display: flex;
    flex-direction: column;
    margin: 5rem 0rem 5rem 0rem;
  }
  header.header-2 div.servicios-busqueda h1.servicios-busqueda {
    color: #4b4b4b;
    font-family: "Times New Roman", Times, serif;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    padding: 5rem 1rem 0rem 1rem;
  }
  header.header-2 div.servicios-busqueda h4.servicios-busqueda {
    display: none;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
  div.dirigimos {
    padding: 6rem 0rem 6rem 0rem;
  }
  div.dirigimos h3.dirigimos {
    color: #4b4b4b;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 3rem;
  }
  div.grid-servicios {
    background-color: #fdff9f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 5rem 0rem 5rem 0rem;
  }
  div.grid-servicios div.orientamos {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0rem 1rem 0rem 1rem;
  }
  div.grid-servicios div.orientamos h3.orientamos {
    color: #4b4b4b;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    line-height: 150%;
  }
  div.grid-servicios div.img-servicios {
    padding-top: 3rem;
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "1 2 3" "4 5 6";
  }
  div.grid-servicios div.img-servicios img.banco {
    width: 3rem;
    height: auto;
    grid-area: 1;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.ong {
    width: 3rem;
    height: auto;
    grid-area: 2;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.fabrica {
    width: 3rem;
    height: auto;
    grid-area: 3;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.tienda {
    width: 3rem;
    height: auto;
    grid-area: 4;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.reclut {
    width: 3rem;
    height: auto;
    grid-area: 5;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.apoyo {
    width: 3rem;
    height: auto;
    grid-area: 6;
    margin: 3rem;
  }
}
/* NOSOTROS */
@media (max-width: 576px) {
  header.header-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 5rem;
  }
  header.header-3 nav.nav-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  header.header-3 nav.nav-3 div.div-nav-3 {
    display: flex;
  }
  header.header-3 nav.nav-3 div.div-nav-3 img.logo-3 {
    width: 20rem;
    height: auto;
  }
  header.header-3 nav.nav-3 ul.menu-3 {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  header.header-3 nav.nav-3 ul.menu-3 a {
    text-decoration: none;
  }
  header.header-3 nav.nav-3 ul.menu-3 a li.inicio-3 {
    font-size: 1.5rem;
    padding: 0rem 1rem;
  }
  header.header-3 nav.nav-3 ul.menu-3 li.paginas-3 {
    font-size: 1.5rem;
    padding: 0rem 1rem;
  }
  div.quienes-somos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  div.quienes-somos h1.quienes-somos {
    display: flex;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.2rem;
    padding: 8rem 0rem 8rem 0rem;
  }
  div.quienes-somos h2.quienes-somos {
    display: flex;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    padding: 5rem 5rem 5rem 5rem;
  }
  div.valores {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 5rem 0rem 5rem 0rem;
  }
  div.valores div.valores-2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
  div.valores div.valores-2 h3.valores {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.5rem;
    padding: 0rem 2rem 0rem 2rem;
    letter-spacing: 0.3rem;
  }
  div.valores div.valores-2 img.flecha {
    width: 2rem;
    height: auto;
    opacity: 0.7;
  }
  div.valores div.valores-3 {
    width: 100%;
    height: auto;
  }
  div.valores div.valores-3 h4.valores {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    padding: 0rem 2rem 0rem 2rem;
  }
}
/* CONTACTO */
@media (max-width: 576px) {
  header.header-4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0rem 0rem 5rem 0rem;
  }
  header.header-4 nav.nav-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  header.header-4 nav.nav-4 img.logo-4 {
    width: 20rem;
    height: auto;
  }
  header.header-4 ul.menu-4 {
    display: flex;
    padding-top: 2.5rem;
  }
  header.header-4 ul.menu-4 a {
    text-decoration: none;
  }
  header.header-4 ul.menu-4 a li.inicio-4 {
    font-size: 1.5rem;
    padding: 0rem 1rem;
  }
  header.header-4 ul.menu-4 li.paginas-4 {
    font-size: 1.5rem;
    padding: 0rem 1rem;
  }
  div.encontrar {
    display: flex;
    width: 100%;
    height: auto;
  }
  div.encontrar h1.encontrar {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    padding: 8rem 1.2rem 8rem 1.2rem;
  }
  div.mensaje {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 0rem 3rem 0rem;
  }
  div.mensaje h2.mensaje {
    width: 100%;
    height: auto;
    color: #4b4b4b;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    padding-bottom: 4rem;
  }
  div.mensaje img.mensaje {
    width: 3rem;
    height: auto;
  }
  div.social {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0rem 0rem 10rem 0rem;
    align-items: stretch;
  }
  div.social div.gmail {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.social div.gmail img.gmail {
    display: flex;
    width: 4rem;
    height: auto;
    padding: 2rem 0rem 2rem 0rem;
  }
  div.social div.gmail h4.gmail {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  div.social div.wpp {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.social div.wpp img.wpp {
    display: flex;
    width: 4rem;
    height: auto;
    padding: 6rem 0rem 2rem 0rem;
  }
  div.social div.wpp h4.wpp-1 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
  }
  div.social div.wpp h4.wpp-2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
}
/* DESKTOP */
/* INICIO */
@media (min-width: 1201px) {
  header.color-header {
    background-image: linear-gradient(135deg, #ffdf4f, #ffdd60, #d3f7b3, #f5ffb7, #fdff9f, #ffdd60, #ffdf4f);
    background-size: 500%;
    width: 100%;
    height: auto;
    padding: 0rem 0rem 30rem 0rem;
    animation: bg-servicios 20s infinite;
  }
  header.color-header nav.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header.color-header nav.nav img.logo {
    width: 15rem;
    height: auto;
  }
  header.color-header nav.nav ul.menu {
    align-items: center;
    display: flex;
    list-style: none;
  }
  header.color-header nav.nav ul.menu a {
    text-decoration: none;
  }
  header.color-header nav.nav ul.menu li.inicio {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: rgba(0, 0, 0, 0.615);
    font-size: x-large;
    padding: 0rem 5rem;
  }
  header.color-header nav.nav ul.menu li.inicio:hover {
    color: black;
  }
  header.color-header nav.nav ul.menu li.paginas {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: rgba(0, 0, 0, 0.615);
    font-size: x-large;
    padding: 0rem 5rem;
    border-left: solid rgb(255, 255, 255);
  }
  header.color-header nav.nav ul.menu li.paginas:hover {
    color: black;
  }
  header.color-header div.h-uno {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10rem 0rem 0rem 0rem;
    padding: 0rem;
    border-radius: 2rem;
    align-items: center;
  }
  header.color-header div.h-uno h1.h-uno {
    color: #4b4b4b;
    padding-bottom: 2rem;
    font-size: 10rem;
    display: flex;
    text-align: center;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
  }
  header.color-header div.h-uno h2.encontramos-talento {
    color: #4b4b4b;
    font-size: 5rem;
    font-family: "Raleway", sans-serif;
    text-align: center;
    display: flex;
    letter-spacing: 0.2rem;
  }
  section.index-texto {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
  }
  section.index-texto div.div-motiva {
    width: 100%;
    height: 50rem;
    padding: 0rem 2rem;
    letter-spacing: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  section.index-texto div.div-motiva p.p-motiva {
    color: white;
    font-size: 5rem;
    font-family: "Raleway", sans-serif;
    padding: 5rem;
  }
  section.index-texto div.div-prueba {
    background-color: #ebf7b3;
    width: 100%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0rem 2rem;
    letter-spacing: 0.5rem;
  }
  section.index-texto div.div-prueba p.p-prueba {
    color: #4b4b4b;
    font-size: 5rem;
    font-family: "Raleway", sans-serif;
  }
  section.index-texto div.div-prueba a {
    text-decoration: none;
  }
  section.index-texto div.div-prueba input.servicios {
    background-color: rgba(0, 0, 0, 0.442);
    color: white;
    margin-top: 8rem;
    padding: 1rem;
    display: flex;
    font-size: 3rem;
    border: solid white;
    border-radius: 1rem;
  }
  section.index-texto div.div-prueba input.servicios:hover {
    transform: scale(1.02);
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.668);
    color: black;
    cursor: pointer;
  }
  section.index-texto div.reclutamiento-seleccion {
    background-color: #d3f7b3;
    display: flex;
    flex-direction: column;
    padding-bottom: 20rem;
  }
  section.index-texto div.reclutamiento-seleccion h2.reclutamiento-seleccion {
    color: #4b4b4b;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 6rem;
    letter-spacing: 0.5rem;
    margin: 20rem 0rem 10rem 0rem;
  }
  section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 {
    display: flex;
    align-items: center;
    padding: 0rem 10rem 0rem 10rem;
  }
  section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 img.reclutamiento-seleccion {
    display: flex;
    width: 10rem;
    height: auto;
    margin: 0rem 6rem 0rem 0rem;
  }
  section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 h3.reclutamiento-seleccion {
    width: 100%;
    height: auto;
    color: #4b4b4b;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    line-height: 200%;
    margin: 0rem 0rem;
  }
  section.index-texto div.reclutamiento-seleccion div.reclutamiento-seleccion-2 img.reclutamiento-seleccion-2 {
    display: flex;
    width: 10rem;
    height: auto;
    margin: 0rem 0rem 0rem 6rem;
  }
  section.index-texto div.reclutamiento-seleccion h3.reclutamiento-seleccion {
    color: #4b4b4b;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
    margin-left: 8rem;
    margin-right: 8rem;
    line-height: 200%;
  }
  section.index-texto div.reclutamiento-seleccion img.logo-2 {
    display: block;
    width: 15rem;
    height: auto;
    margin: auto;
    padding-top: 10rem;
    opacity: 0.9;
  }
  div.foot {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 2rem 0rem 2rem 0rem;
    border-top: solid white;
  }
  div.foot-tamaño {
    text-align: center;
    width: 20rem;
    height: auto;
  }
  div.foot-tamaño p.tdcolor {
    display: flex;
    font-size: 1.5rem;
    padding: 1rem 0rem;
    justify-content: center;
    cursor: pointer;
  }
  div.foot-tamaño p.tdcolor:hover {
    color: white;
    text-decoration: underline;
  }
  div.foot-tamaño p.tdcolor img.redes {
    width: 1.5rem;
    height: 1.5rem;
  }
}
/*SERVICIOS */
@media (min-width: 1201px) {
  header.header-2 {
    background-image: linear-gradient(135deg, rgb(255, 171, 36), rgb(255, 153, 75), rgb(255, 195, 134), rgb(255, 214, 191), rgb(239, 255, 121), rgb(255, 255, 49), rgb(255, 255, 0));
    background-size: 500%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    animation: bg-servicios 20s infinite;
  }
  header.header-2 nav.nav-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
  }
  header.header-2 nav.nav-2 div.div-nav-2 {
    display: flex;
  }
  header.header-2 nav.nav-2 div.div-nav-2 img.logo-2 {
    width: 15rem;
    height: auto;
  }
  header.header-2 nav.nav-2 ul.menu-2 {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  header.header-2 nav.nav-2 ul.menu-2 a {
    text-decoration: none;
  }
  header.header-2 nav.nav-2 ul.menu-2 a li.inicio-2 {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: rgba(0, 0, 0, 0.615);
    font-size: x-large;
    padding: 0px 5rem;
  }
  header.header-2 nav.nav-2 ul.menu-2 a li.inicio-2:hover {
    color: black;
  }
  header.header-2 nav.nav-2 ul.menu-2 li.paginas-2 {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: rgba(0, 0, 0, 0.615);
    font-size: x-large;
    padding: 0px 5rem;
    border-left: solid rgb(255, 255, 255);
  }
  header.header-2 nav.nav-2 ul.menu-2 li.paginas-2:hover {
    color: black;
  }
  header.header-2 div.servicios-busqueda {
    display: flex;
    flex-direction: column;
  }
  header.header-2 div.servicios-busqueda h1.servicios-busqueda {
    color: rgba(255, 255, 255, 0.929);
    font-family: "Times New Roman", Times, serif;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    padding: 0rem 40rem 6rem 40rem;
  }
  header.header-2 div.servicios-busqueda h4.servicios-busqueda {
    color: rgba(255, 255, 255, 0.929);
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    letter-spacing: 0.3rem;
    text-align: center;
    padding: 0rem 6rem 10rem 6rem;
  }
  div.dirigimos {
    padding: 80px 0px 80px 0px;
  }
  div.dirigimos h3.dirigimos {
    width: 100%;
    height: auto;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 5rem;
  }
  div.grid-servicios {
    background-color: #fdff9f;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 10rem 0rem 10rem 0rem;
  }
  div.grid-servicios div.orientamos {
    display: flex;
    width: 100%;
    height: 100%;
  }
  div.grid-servicios div.orientamos h3.orientamos {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    line-height: 200%;
  }
  div.grid-servicios div.img-servicios {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "1 2 3" "4 5 6";
  }
  div.grid-servicios div.img-servicios img.banco {
    width: 6rem;
    height: auto;
    grid-area: 1;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.ong {
    width: 6rem;
    height: auto;
    grid-area: 2;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.fabrica {
    width: 6rem;
    height: auto;
    grid-area: 3;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.tienda {
    width: 6rem;
    height: auto;
    grid-area: 4;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.reclut {
    width: 6rem;
    height: auto;
    grid-area: 5;
    margin: 3rem;
  }
  div.grid-servicios div.img-servicios img.apoyo {
    width: 6rem;
    height: auto;
    grid-area: 6;
    margin: 3rem;
  }
}
/* NOSOTROS */
@media (min-width: 1201px) {
  header.header-3 {
    background-image: linear-gradient(135deg, #ffdf4f, #ffdd60, #d3f7b3, #f5ffb7, #fdff9f, #ffdd60, #ffdf4f);
    background-size: 500%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: white solid;
    animation: bg-servicios 20s infinite;
  }
  header.header-3 nav.nav-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header.header-3 nav.nav-3 div.div-nav-3 {
    display: flex;
  }
  header.header-3 nav.nav-3 div.div-nav-3 img.logo-3 {
    width: 15rem;
    height: auto;
  }
  header.header-3 nav.nav-3 ul.menu-3 {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  header.header-3 nav.nav-3 ul.menu-3 a {
    text-decoration: none;
  }
  header.header-3 nav.nav-3 ul.menu-3 a li.inicio-3 {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: rgba(0, 0, 0, 0.615);
    font-size: x-large;
    padding: 0rem 5rem;
  }
  header.header-3 nav.nav-3 ul.menu-3 a li.inicio-3:hover {
    color: black;
  }
  header.header-3 nav.nav-3 ul.menu-3 li.paginas-3 {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: rgba(0, 0, 0, 0.615);
    font-size: x-large;
    padding: 0rem 5rem;
    border-left: solid rgb(255, 255, 255);
  }
  header.header-3 nav.nav-3 ul.menu-3 li.paginas-3:hover {
    color: black;
  }
  div.quienes-somos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: #f2e997;
  }
  div.quienes-somos h1.quienes-somos {
    color: #4b4b4b;
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    padding: 10rem 0rem 10rem 0rem;
  }
  div.quienes-somos h2.quienes-somos {
    color: #4b4b4b;
    display: flex;
    background-color: white;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    padding: 10rem 4rem 6rem 10rem;
  }
  div.valores {
    background-color: #f2e997;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 15rem 0rem 15rem 0rem;
  }
  div.valores div.valores-2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }
  div.valores div.valores-2 h3.valores {
    color: #4b4b4b;
    width: 100%;
    height: auto;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 3rem;
    padding: 0rem 2rem 0rem 2rem;
    letter-spacing: 0.3rem;
  }
  div.valores div.valores-2 img.flecha {
    width: 80px;
    height: auto;
    opacity: 0.7;
  }
  div.valores div.valores-3 {
    width: 100%;
    height: auto;
  }
  div.valores div.valores-3 h4.valores {
    color: #4b4b4b;
    width: 100%;
    height: auto;
    font-family: "Raleway", sans-serif;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    padding: 0rem 4rem 0rem 4rem;
  }
}
/* CONTACTO */
@media (min-width: 1201px) {
  header.header-4 {
    background-image: linear-gradient(135deg, #ffdf4f, #ffdd60, #d3f7b3, #f5ffb7, #fdff9f, #ffdd60, #ffdf4f);
    background-size: 500%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-bottom: white solid;
    animation: bg-servicios 20s infinite;
  }
  header.header-4 nav.nav-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header.header-4 nav.nav-4 img.logo-4 {
    width: 15rem;
    height: auto;
  }
  header.header-4 ul.menu-4 {
    display: flex;
    list-style: none;
  }
  header.header-4 ul.menu-4 a {
    text-decoration: none;
  }
  header.header-4 ul.menu-4 a li.inicio-4 {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: rgba(0, 0, 0, 0.615);
    font-size: x-large;
    padding: 0rem 5rem;
  }
  header.header-4 ul.menu-4 a li.inicio-4:hover {
    color: black;
  }
  header.header-4 ul.menu-4 li.paginas-4 {
    font-family: "Raleway", sans-serif;
    list-style: none;
    color: rgba(0, 0, 0, 0.615);
    font-size: x-large;
    padding: 0rem 5rem;
    border-left: solid rgb(255, 255, 255);
  }
  header.header-4 ul.menu-4 li.paginas-4:hover {
    color: black;
  }
  div.encontrar {
    display: flex;
    width: 100%;
    height: auto;
  }
  div.encontrar h1.encontrar {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #d3f7b3;
    color: #4b4b4b;
    font-family: "Raleway", sans-serif;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    padding: 10rem 0rem 10rem 0rem;
  }
  div.mensaje {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 0rem 3rem 0rem;
  }
  div.mensaje h2.mensaje {
    width: 100%;
    height: auto;
    color: #4b4b4b;
    font-family: "Raleway", sans-serif;
    font-size: 4rem;
    padding-bottom: 2rem;
  }
  div.mensaje img.mensaje {
    width: 5rem;
    height: auto;
  }
  div.social {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0rem 0rem 10rem 0rem;
  }
  div.social div.gmail {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.social div.gmail img.gmail {
    display: flex;
    width: 6rem;
    height: auto;
    padding-bottom: 4rem;
  }
  div.social div.gmail h4.gmail {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  div.social div.wpp {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.social div.wpp img.wpp {
    display: flex;
    width: 6rem;
    height: auto;
    padding-bottom: 4rem;
  }
  div.social div.wpp h4.wpp-1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 1rem;
    color: rgba(0, 0, 255, 0.674);
    -webkit-text-decoration: underline rgba(0, 0, 255, 0.674);
            text-decoration: underline rgba(0, 0, 255, 0.674);
  }
  div.social div.wpp h4.wpp-2 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: rgba(0, 0, 255, 0.674);
    -webkit-text-decoration: underline rgba(0, 0, 255, 0.674);
            text-decoration: underline rgba(0, 0, 255, 0.674);
  }
}/*# sourceMappingURL=main.css.map */